html {
  --headerColor: var(--white);
  background: var(--primary);
  color: var(--white);
  --mainColor: var(--white);
  ::-moz-selection {
    background: var(--white);
    color: var(--primary);
  }
  ::selection {
    background: var(--white);
    color: var(--primary);
  }
  &.dark {
    --mainColor: var(--white);
  }
  &.light {
    --headerColor: var(--primary);
    background: var(--white);
    color: var(--primary);
    --mainColor: var(--primary);
    ::-moz-selection {
      background: var(--primary);
      color: var(--white);
    }
    ::selection {
      background: var(--primary);
      color: var(--white);
    }
  }
}

body {
  &.navOpen {
    overflow: hidden;
  }
}

main {
  width: 100%;
  height: auto;
  &.light-theme {
    position: relative;
    background-image: url('~/assets/img/whitesnake.svg');
    background-size: auto 100%;
    background-position: 100% 15px;
    padding-bottom: var(--globalPadding);
  }
  @include breakpoint(mobile) {
    margin-top: 40px;
  }
}
p,
h2 {
  margin-bottom: 30px;
}

p:nth-last-child(1) {
  margin-bottom: 0;
}

button {
  cursor: pointer;
}
#navSocials {
  svg {
    width: 100%;
    fill: var(--white);
  }
}

// ANIMATION

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.img-in-enter-active,
.img-in-leave-active {
  transition: opacity 0.5s;
}
.img-in-enter, .img-in-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
//
.nav-enter-active {
  animation: nav 0.25s;
}
.nav-leave-active {
  animation: nav 0.2s reverse;
}
@keyframes nav {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes nava {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
