:root {
  // colors
  --black: #262626;
  --white: #f2f2f2;
  --primary: #18181f;
  --dark: #1f2227;
  --light: #efefef;

  // header
  --headerHeight: 64px;
  --subHeaderHeight: 44px;
  --headerColor: var(--white);

  // gen atts
  --globalPadding: 80px;
  --containerWidth: 1920px;
  --borderAtts: 1px solid var(--headerColor);
  --mainColor: var(--white);

  // fonts
  --pSize: 18px;
  --pLineHeight: 24px;
  --h1Size: 10vw;
  --h2Size: 5vw;
  --h3Size: 3vw;
  --h4Size: 2.8vw;
  --h5Size: 1.8vw;

  @media screen and (max-width: 769px) {
    --globalPadding: 40px;
    --h1Size: 10vw;
    --h2Size: 7vw;
    --h3Size: 4.5vw;
    --h4Size: 4vw;
    --h5Size: 3vw;
  }
  @media screen and (max-width: 480px) {
    --headerHeight: 60px;
    --globalPadding: 20px;
    --h1Size: 19vw;
    --h2Size: 12vw;
    --h3Size: 7vw;
    --h4Size: 7vw;
    --h5Size: 6.5vw;
  }
}

// ========================================
// Colors
// ========================================
$black: #000000;
$white: #ffffff;

$primary: indianred;

// ========================================
// Screen sizes
// ========================================
$mobile: 480px;
$tablet: 769px;
$desktop: 1000px;
$fullhd: 1384px;

$headerHeight: 80px;
