:root {
  // colors
  --black: #000;
  --white: #f2f2f2;
  --primary: #18181f;
  --dark: #1f2227;

  // header
  --headerHeight: 64px;
  --subHeaderHeight: 44px;
  --headerColor: var(--white);
  // gen atts
  --globalPadding: 80px;
  --containerWidth: 1920px;
  --borderAtts: 1px solid var(--headerColor);
  // fonts
  --pSize: 18px;
  --pLineHeight: 24px;
  --h1Size: 10vw;
  @media screen and (max-width: 769px) {
    --globalPadding: 40px;
    --h1Size: 12vw;
  }
  @media screen and (max-width: 480px) {
    --headerHeight: 60px;
    --globalPadding: 20px;
    --h1Size: 20vw;
  }
}

// ========================================
// Colors
// ========================================
$black: #000000;
$white: #ffffff;

$primary: indianred;

// ========================================
// Screen sizes
// ========================================
$mobile: 480px;
$tablet: 769px;
$desktop: 1000px;
$fullhd: 1384px;

$headerHeight: 80px;
